<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Digital Arts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>Chupa Frango!</p>
<ul>
    <form action="/bet" method="get">
        <li>Select Game</li>
        <select size="1" name="games">
            <tr th:each="game : ${games}">
                <option th:text="${game}"></option>
            </tr>
        </select>
        <input type="submit" value="Submit">
    </form>
</ul>
</body>
</html>